<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generated</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Все готово!</h1>
<!--    <br>-->
<!--        <div class="prototype">-->
<!--            <img src="ver2.png" height="400" width="655" border="5px solid red;">-->
<!--            <img src="ver1.png" height="400" width="655" border="black">-->
<!--        </div>-->
</body>
</html>